<%= form_for @theme, html: { class: "form-horizontal" } do |f| %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :group_id %>

  <% if @theme.errors.present? %>
    <div class="alert alert-warning">
      <ul>
        <% @theme.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Название" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "OK" %>
  </div>
<% end %>
